<div class="row project_container">
	<div class="col-md-2 center-block">
		<button type="button" class="new_project btn btn-primary" aria-label="Left Align">
			<span class="glyphicon glyphicon-backward" aria-hidden="true"></span> 
			<%= link_to "All Projects", {:controller => "users", :action => "control" }, :class=> 'all_projects' %>
		</button>
	</div>
	<div class="col-md-9">
		<div class="project_tile_container">
			<div class="project_tile_full">
			  <section class="header">
				<h1><%= @project.title %></h1>
				<p><%= @project.descrip %></p>
			  </section>
			  <section class="body">
			  	<h3>To-do lists<button type="button" class="btn btn-success add_tdl_button">Add a Todo List</button></h3>
			  	<div class="new_tdl_form">
				  	<%= form_for @todolist, url: {:action => "create_todolist"} do |f| %>
					  <p>
					    <%= f.text_field :title, :placeholder => "Give the list a title" %>
					  </p>
					  <%= f.hidden_field :user_id, :value => current_user.id %>
					  <%= f.hidden_field :proj_id, :value => params[:id] %>
				      <button type="button" class="btn btn-default cancel_tdl_button">Cancel</button>
				      <%= f.submit 'Create Todo List', :class => 'btn btn-primary' %>
			      	<% end %>
		        </div>
		      	<hr />
		      	<% @current_users_todolists.each do |tdl| %>
					<h5><%= tdl.title %></h5>
					<a class="add_todo add_tdli_button" title="Add a todo">Add a todo </a>
					
					<div class="new_tdli_form">
				  	<%= form_for @todolistitem, url: {:action => "create_todolist_item"} do |f| %>
					  <p>
					    <%= f.text_field :title, :placeholder => "Give the list a title" %>
					  </p>
					  <%= f.hidden_field :user_id, :value => current_user.id %>
					  <%= f.hidden_field :proj_id, :value => params[:id] %>
					  <%= f.hidden_field :todolists_id, :value => tdl.id %>
				      <button type="button" class="btn btn-default cancel_tdli_button">Cancel</button>
				      <%= f.submit 'Create Todo!', :class => 'btn btn-primary' %>
			      	<% end %>
					</div>
					<%## Todolist items loop here! %>
					<% @current_users_todolistitems.where(:todolists_id => tdl.id).each do |tdli| %>
					<h5><%= tdli.title %></h5>
					<% end %>
				<% end %>
			  </section>
			</div>
		</div>
	</div>
</div>